body:before {
  content:"";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  display: grid;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 0.7;
  background-image: url("https://cdn.hipwallpaper.com/i/43/85/RBinaX.jpg");
}
.card{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 1000px;
  height: 500px;
}

.back-btn {
  text-align: center;
}
h1{
  font-size: 70px;
  color: rgb(143, 0, 0);
}
#back{
  color: rgb(143, 0, 0)
}

.menu-item {
  font-size: 50px;
  text-align: center;
  color: rgb(182, 182, 182);
  position: relative;
  cursor: pointer;
}
.menu-item:hover{
  text-shadow: 2px 4px 0px rgba(20, 20, 200, 0.5);
}
.menu-item:hover:before{
  content: "";
  position: absolute;
  left: -50px;
  top: 5px;
  height: 40px;
  width: 50px;
  background-color: red;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 10% 50%);

  animation-name: finger;
  animation-duration: 0.35s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#rightArrow{
  width: 50px;
  height: 50px;
  background:  transparent;
  cursor: pointer;
  /* margin-left: 450px; */

}

#leftArrow{
  width: 50px;
  height: 50px;
  background:  transparent;
  margin-left: 300px;
  margin-top: 5px;
  cursor: pointer;

}

#imgarrow{
  width: 40px;
  height: 40px;
}


/* The zooming feature: */
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
  width: 50px
}

.img-zoom-lens {
  position: relative;
  border: 1px solid #d4d4d4;
  border-color: red;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

#myresult{
  width: 200px;
  height: 200px;
  border: 5px solid #555;
  border-color: red;

}

#myimage{
  border: 5px solid #555;
  border-color: black;
}

#navbar{
  width: 970px;
  height: 60px;
}

#inventory{
  border-radius: 3px;
}


/* Timer */
.base-timer {
  position: relative;
  width: 50px;
  height: 50px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#app{
  position:relative; left:800px; top:2px;
  color: white;
}
